/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}
.container {
    width: 80%;
    height: 50%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.box {
    width: 20%;
    height: 100px;
    
}
.box:nth-child(1) {
    background-color: red;
}
.box:nth-child(2) {
    background-color: green;
}
.box:nth-child(3) {
    background-color: blue;
}